@use './reset.scss';
@use './main.scss';
@use './element-plus.scss';

@use './components/blog-post-card.scss';


html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Optional: Better box model for easier sizing */
}